
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  margin: 0;
}

h1 {
  background-color: rgb(99, 35, 72);
  color: aliceblue;
  margin: 15px;
  padding: 20px;
  text-align: center;
}

h3 {
  color: rgb(241, 241, 241);
  text-align: center;
  border-radius: 30px;
  background-color: rgb(148, 148, 148);
  margin: 20px;
  padding: 15px;
}


.contenedor-frutales {
  background-color: gray;
  padding: 20px;
  border: 2px solid black;
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-wrap: wrap; 
  gap: 20px; 
}

.caja {
  background-color: bisque;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  text-align: center;
  height: 350px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  word-wrap: break-word; 
  margin: 10px;
  box-sizing: border-box; 
}
.caja img {
  max-width: 100%;  
  height: auto;     
  display: block;   
  margin: 0 auto;  
  max-height: 200px;
}


.caja:hover {
  transform: scale(1.05);
}


@media (min-width: 1024px) {
  .caja {
    width: calc(33.33% - 20px); 
  }
}


@media (max-width: 1024px) {
  .caja {
    width: calc(50% - 20px);
  }
}


@media (max-width: 768px) {
  .caja {
    width: 100%; 
  }
}


.contenedor {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}

.agregar-valoracion {
  text-align: center;
}

.lista-valoraciones {
  background-color: rgb(254, 255, 212);
  padding: 30px;
}
